<%= simple_form_for @group do |f| %>
  <div class="form-group">

    <div class="form-group">
      <%= f.input :title, label: "標題", input_html: {class: "form-control"} %>
      <%= f.input :description, label: "敘述", input_html: {class: "form-control"} %>
    </div>

  </div>

  <%= f.submit "送出", class: "btn btn-primary", data: { disable_with: "送出中..." } %>

<% end %>
